<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appdockproject.appdock">

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <dependency>
        <groupId>
            com.facebook.android
        </groupId>

        <artifactId>
            facebook-android-sdk
        </artifactId>

        <version>
            v4.16.0
        </version>
    </dependency>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".appPage"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".devActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".eduActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".feedbackActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".facebookActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".eduVid1Activity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider203732883030353"
            android:exported="true" />

        <activity
            android:name=".App1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".App2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".App3Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".App4Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".App5Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".App6Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".App7Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".App8Activity"
            android:screenOrientation="landscape" />
        <activity android:name=".App9Activity"
            android:screenOrientation="landscape" />
    </application>

</manifest>