$bgColor: #8db255;
$wood: #aa8736;
$title: #F3C13A;
$writing: darken($title,30);
$talk: gold;


.rightAlign{
  justify-content: flex-end;
}
.talk{
    background-color:$talk

}

h2{
  color:$title;
}

h4{
  color:$writing;
}

.one {
    background-color: $bgColor;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align:center;
}

.theNavHeight {
    background-color: $wood;
    border-radius: 6px;
    ion-list{
      border-radius:10px;

    }
    button {

        width: 95%;
        height: 10vh;
        font-size:2vmax;
    }
    ion-item {
        background-color: $wood;
    }

}

.topPics{

    height: 40vh;
    width:auto;
    padding-right: 3vw;


}

.bottomButton{
  button{
    height:10vh;
  }
}
