$bgColor: #8db255;
$wood: #aa8736;
$title: #F3C13A;



.social {
    background-color: $bgColor;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align:center;
}

.allIcons{
  font-size:3vh;
p{
  margin-top:0;
  color:darken($title,30);
}

img{
  width:22vh;
  height:auto;
}
}
.centerVert {
    align-items: center;
}
.button-right {
    justify-content: flex-end;
}
.discover {
    h3 {
        color: $title;
        font-size: 4vh;
    }
}
.rightColumn {

}
.theNavHeight {
    background-color: $wood;
    border-radius: 6px;
    ion-list{
      border-radius:10px;

    }
    button {

        width: 95%;
        height: 10vh;
        font-size:2vmax;
    }
    ion-item {
        background-color: $wood;
    }

}
.topRow {
    padding-bottom: 5vh;
}
